<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqut.chat.mapper.UserMapper">

  <resultMap id="userMap" type="User">
    <id column="id" property="id"/>
    <result column="gender" property="gender"
            typeHandler="cn.edu.cqut.chat.common.typehandler.GenderTypeHandler"/>
    <result column="id_number" property="idNumber"/>
    <result column="nick_name" property="nickName"/>
    <association property="account" javaType="Account">
      <id column="account_id" property="id"/>
      <result column="uid" property="uid"/>
      <result column="bind_phone" property="bindPhone"/>
      <result column="bind_email" property="bindEmail"/>
      <result column="register_time" property="registerTime"/>
      <result column="usage_status" property="usageStatus"
              typeHandler="cn.edu.cqut.chat.common.typehandler.AccountUsageTypeHandler"/>
    </association>
  </resultMap>

  <sql id="userMapSql">
    SELECT
      a.*,
      b.id AS account_id,
      b.uid,
      b.bind_phone,
      b.bind_email,
      b.register_time,
      b.usage_status
      FROM
        t_user a INNER JOIN t_account b ON a.account = b.uid
  </sql>

  <select id="queryOne" resultMap="userMap">
    <include refid="userMapSql"/>
    WHERE a.id = #{id}
  </select>

  <select id="queryAll" resultMap="userMap">
    <include refid="userMapSql"/>
    <where>
      <if test="account != null and account.uid != null and account.uid != ''">
        AND a.account LIKE concat('%', #{account.uid}, '%')
      </if>
      <if test="gender != null">
        AND a.gender = #{gender.index}
      </if>
      <if test="idNumber != null and idNumber != ''">
        AND a.id_number LIKE concat('%', #{idNumber}, '%')
      </if>
      <if test="nickName != null and nickName != ''">
        AND a.nick_name LIKE concat('%', #{nickName}, '%')
      </if>
    </where>
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    INSERT INTO t_user (account, gender, id_number, nick_name)
      VALUES
        (#{account.uid}, #{gender.index}, #{idNumber}, #{nickName})
  </insert>

  <update id="update">
    UPDATE t_user
      SET
        account   = #{account.uid},
        gender    = #{gender.index},
        id_number = #{idNumber},
        nick_name = #{nickName}
      WHERE id = #{id}
  </update>

  <delete id="delete">
    DELETE
      FROM
        t_user
      WHERE id = #{id}
  </delete>
</mapper>