<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.cqut.chat.mapper.UserGroupMapper">

  <resultMap id="userGroupMap" type="UserGroup">
    <id column="id" property="id"/>
    <result column="create_time" property="createTime"/>
    <result column="last_modified_time" property="lastModifiedTime"/>
    <result column="remark" property="remark"/>
    <result column="group_uid" property="groupUid"/>
    <result column="group_name" property="groupName"/>
    <result column="size" property="size"/>
    <result column="rest" property="rest"/>
    <result column="status" property="status"/>
  </resultMap>

  <sql id="selectAll">
    SELECT a.*
    FROM t_user_group a
  </sql>

  <select id="queryAll">

  </select>
</mapper>